*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
header {
    background-color: pink;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;

}

ul .links {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-right: 90px;

}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;

}

li a{
    text-decoration: none;
    color: black;
}

li a:hover{
    color: blanchedalmond;

}

.about1{
    width: 100%;
    height: 300px;
}
.about1 img{
    width: 100%;
    height: 300px;
}

.desc{
    width: 100%;
    height: 400px;
    background-image: url('bg-img2.jpg');
    background-position: center;
    background-size: cover;
    /* position:absolute; */
    
}
.desc p{
    padding-top: 120px;
    width: 500px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mission {
    
    margin-top: 30px;
    padding: 20px;


}

.mission h2, p{
    font-size: 25px;
}

.flowers{
    display: flex;
    gap: 50px;
}

.flowers img{
    width: 250px;
    margin: 20px;
    border-radius: 50%;
}

.flowdesc{
    display: flex;
    flex-direction: column;
    padding-top: 100px;
}

.flowdesc p{
    width: 90%;
    
}

.flowdesc h2{

}