* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: pink;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;

}

ul .links {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-right: 90px;

}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

}

li a {
    text-align: center;
    text-decoration: none;
    color: black;
}

li a:hover {
    color: blanchedalmond;

}

.small-carousel {
    height: 50vh;
}

.services {
    margin-top: 30px;
    /* display: flex; */
    /* justify-content: space-around; */
    padding: 20px;
    background-color: plum;
    height: 290px;

}

.services .firstgroup {
    display: flex;
    justify-content: center;
}

.services .secondgroup {
    display: flex;
    justify-content: center;


}

.services-box {
    width: 300px;
    height: 100px;
    background-color: bisque;
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
}

.Excellence {
    margin-top: 30px;
    background-color: blanchedalmond;
    padding: 20px;
    height: 200px;
}

.Excellence-box {
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;

}

.Excellence-box span {
    background-color: brown;
    padding: 10px;
    border-radius: 10px;
    color: aliceblue;

}

.carousel-item img {
    height: 50vh;
    background-position: center;
    background-size: contain;
}

.seasonal {
    width: 100%;
    background-color: bisque;
    margin-top: 30px;
    padding: 10px;
}

.seasonal-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.seasonal-box button {
    width: 130px;
    height: 50px;
    padding: 10px;
    border: none;
    border-radius: 20px;
    text-align: center;
    font-size: 20px;

}

.seasonal-box button:hover {
    background-color: palevioletred;
}

.why {
    width: 100%;
    height: 400px;
    background-color: beige;
    padding: 20px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;


}

.images {
    width: 380px;
    display: flex;
    gap: 20px;
}

.images img {
    width: 350px;
}

.content {
    width: 45%;
    font-size: 22px;
    padding: 20px;
    margin: 20px;

}

.content p {
    line-height: 1.8;
}

.content button {
    width: 180px;
    height: 50px;
    padding: 10px;
    border: 2px solid black;
    text-align: center;

}

.content button:hover {
    background-color: palevioletred;

}

.features {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    margin-top: 30px;
    background-color: aquamarine;
}

.features-box {
    padding: 20px;
    margin: 20px;
    background-color: pink;
    height: 350px;
    width: 250px;

}

.features-box p {
    font-size: 20px;
    text-align: center;
    color: blueviolet;
    font-family: 'Times New Roman', Times, serif;
    margin: 10px;

}

.features-box button {
    width: 150px;
    height: 50px;
    padding: 10px;
    margin-left: 30px;
}

.features-box button:hover {
    background-color: palevioletred;
}

footer {
    margin-top: 30px;
    width: 100%;


}

.flex-flowers {
    margin-top: 30px;
    height: 350px;
    display: flex;
    justify-content: space-between;
    background-color: bisque;
}

.content2 {
    width: 280px;
    height: 250px;
    padding: 30px;

}

.content2 img {
    width: 100%;

}

.content2 button {
    width: 150px;
    height: 50px;
    padding: 10px;
}

.web1 {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    padding: 30px;
    background-color: lightpink;
}

.fa-brands{
    padding: 10px;

}

.style1 input{
    width: 200px;
}